
.navbar navbar-fixed-top navbar-inverse
{
   height: 10%;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}




.jumbotron{
    height: 200px;
    overflow: hidden;
}

.jumbotron #details{
    position: absolute;
    color: white;
}

.jumbotron #details span{
    color: lightblue;
}

.jumbotron img{
    width: 100%;
}

.slider-border img{
    border-radius: 0%;
}

.lightgray{
    background-color: lightgray;
    background: transparent;
}

footer{
    margin-top: 30px;
    background:black;
    height:50px;
    line-height: 50px;
    color: white;
    letter-spacing: 1px;
}

footer .container a{
    text-decoration: none;
    color: blue;
}

footer .container a:hover{
    color: lightblue;
}
body { 
  background: url(../img/signinbackgorund.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }
